<%= render "shared/new_edit", _title: t("activerecord.models.user"), _method: :post, _path: users_path do |f| %>
  <div class="required field">
    <label><%= User.human_attribute_name("email")%></label>
    <%= f.email_field :email,required: true %>
  </div>
  <div class="required field <%unless @record.errors[:password].empty?%>error<%end%>">
    <label><%= User.human_attribute_name("password")%></label>
    <%= f.text_field :password, value: SystemProfile.init_password,required: true %>
  </div>

  <div class="field">
    <label><%= User.human_attribute_name("role") %></label>
    <%= f.select :role_id, ["", ""] + Role.all.map{|r| [r.name, r.id]}, {}, class: "ui search dropdown" %>
  </div>

<% end %>