<%= render "shared/show", _title: t("activerecord.models.role") do %>
    <table class="ui attached definition table">
      <tbody>
      <tr>
        <td class="two wide column grey"><%= Role.human_attribute_name("name") %></td>
        <td><%= @record.name %></td>
      </tr>
      <tr>
        <td><%= Role.human_attribute_name("rule") %></td>
        <td>
          <form class="ui form">
            <% Ability::ROLE_RESOURCES.each do |k, v| %>
                <div class="ui inline fields">
                  <label><%= t("activerecord.models.#{k.to_s.underscore}") %></label>
                  <% v.each do |o| %>
                      <div class="field">
                        <input type="checkbox" name="rule[]" disabled
                               <% if rule_checked?(@record.rule, "#{k}", "#{o}") %>checked<% end %>
                               value="<%= "#{k},#{o}" %>"/>
                        <label><%= o %></label>
                      </div>

                  <% end %>
                </div>
            <% end %>
          </form>
        </td>
      </tr>
      <tr>
        <td><%= Role.human_attribute_name("created_at") %></td>
        <td><%= @record.created_at %></td>
      </tr>
      </tbody>
      <tfoot class="full-width">
      <tr>
        <th colspan="2">
          <div class="ui buttons">
            <a href="javascript:window.history.go(-1);" class="ui icon button">
              <i class="left chevron icon"></i>
            </a>
            <% if can? :update, @record %>
                <div class="or"></div>
                <a href="<%= edit_role_path @record %>" class="ui button"><%= t("views.edit") %></a>
            <% end %>
          </div>
        </th>
      </tr>
      </tfoot>
    </table>
<% end %>
